button, img {
    all: unset;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#pause-icon {
    height: 43px;
    width: 44px;
}

#input-file {
    height: 89vh; /* Temporário */
}

#play-button {
    border-radius: 100px;
}

#player-icons {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}