@import './responsive.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0c1220;
  --card: #121826;
  --player-height: 76px;
  --player-bottom-gap: 28px;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: var(--bg);
  color: #e6eef8;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
}
